/* === FONTS *font-xxx* === */
$font-header:           proxima-nova, "Proxima Nova", "Montserrat", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-body:             proxima-nova, "Proxima Nova", "Montserrat", Helvetica Neue, Helvetica, Arial, sans-serif;
$font-caps:             $font-header;

$font-xxl:              2.5em;  
$font-xl:               2em;   
$font-large:            1.5em;    
$font-medium:           1.3em; 
$bold-weight:           700;
   
$clr-primary:           #2dbbe9;    
$clr-secondary:         #232d33;    
$clr-third:             #666; 
$clr-success:           #fff;
$clr-error:             #ccc;

$clr-text:              #444;
$clr-dark:              #1e1d1d;
$clr-shade:             #eee;

/* === MISC. === */
$border-radius:         4px;       