@supports (display: grid) {
  /* template */
  .nav__group--subgroups {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }

  .footer-group {
    display: grid;
    grid-template-columns: 240px 1fr 420px;
    grid-gap: 1em; }

  .footer-link-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em; }

  /* strips */
  .inner--school-locations {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  /* content pages */
  .parent-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5em; }

  /* listings */
  .product-filters {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; }

  /* products */
  .product-listing {
    display: grid;
    grid-template-columns: 268px 100px 1fr 230px; }

  .inner--listing-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em; }

  .product-page {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 3em; }

  .product-listing--product {
    display: grid;
    grid-template-columns: 220px 1fr 300px; }

  .product-summary-listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.5em; }

  .product-summary-listing__group {
    display: grid;
    grid-template-columns: 120px 1fr; }

  /* basket */
  .basket__group, .basket__headers {
    display: grid;
    grid-template-columns: 1fr 100px 132px 100px;
    grid-gap: 1em; }

  .basket {
    display: grid;
    grid-template-columns: 1fr 300px; }

  /* checkout */
  .checkout__groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3em; }

  .checkout__group .form__row {
    display: grid;
    grid-template-columns: 180px 1fr;
    grid-gap: 1em; }

  .location-text, .location-map,
  .parent-links__item,
  .product-summary-listing,
  .product-description-wrap, .product-supporting,
  .checkout__grid {
    width: 100%;
    margin: 0 !important; }

  .nav__group__subgroup,
  .product-filter,
  .footer-group__item, .footer-links,
  .listing-header__image, .listing-header__text,
  .product-listing__thumbnail, .product-listing__text, .product-listing__date, .product-listing__actions,
  .product-summary-listing__text, .product-summary-listing__date,
  .basket__header, .basket__item,
  .basket__header--product, .basket__item--product,
  .basket-items, .basket-continue,
  .checkout__group .form__label, .checkout__group .form__input {
    width: 100%; }

  .checkout__group .form__input {
    padding-right: 0; }

  @media screen and (max-width: 1280px) {
    .product-filters {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      box-shadow: none; }

    .basket {
      display: grid;
      grid-template-columns: 1fr 220px; } }
  @media screen and (max-width: 900px) {
    .product-listings {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em; }

    .product-listing {
      display: block;
      background: white; }

    .basket {
      display: block; } }
  @media screen and (max-width: 750px) {
    .product-filters {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media screen and (max-width: 700px) {
    .product-page, .product-listings {
      display: block; } }
  @media screen and (max-width: 600px) {
    .basket__group, .basket__headers {
      display: grid;
      grid-template-columns: 1fr 60px 100px 60px; }

    .nav__group--subgroups {
      width: 100%;
      display: block; }

    .footer-link-group {
      display: block;
      margin: 0; }

    .footer-group, .product-summary-listings, .product-listing, .inner--listing-header, .checkout-groups, .checkout-group .form__row {
      display: block; } }
  @media screen and (max-width: 480px) {
    .product-filters {
      display: block; } }
  	/*
      
      
      .account-help__group { @include grid(1fr 1fr 1fr); grid-gap:1.5em; }
      .order__row--product { @include grid(1fr 1fr 1fr); grid-gap:3em; }*/ }

/*# sourceMappingURL=css_grid.css.map */
